/*
* File: style.scss
* Project: cellcard-play-pwa
* Author: Dilum Sanjaya (dranasinghe@mitrai.com)
* File Created: Thursday, 18th March 2021 10:52 am
* Module: Cellcard Play Frontend
* Copyright 2020 - 2021 Mitra Innovation Ltd., Mitra Innovation Ltd.
*/

.bottom-navigation{
    height: 65px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    &-text{
        font-size: 10px;
    }
    &-icon-container{
        width: 28px;
        height: 28px;
        overflow: hidden;
        font-size: 28px;
    }
    &-item{
       padding-top: 7px; 
    }
    &-padded{
        height: 80px;
    }
}